a{
    color: black;
}

.list-group-item{
    background-color: $gray-100;
    .trash:hover{
        color: red;
    }
}

// @keyframes fadeOutText {
//     from {
//         opacity: 1;
//     }
//     to {
//         opacity: 0.5;
//     }
// }

// .striked {
//     text-decoration: line-through;
//     animation: fadeOutText 0.3s forwards;
//     opacity: 0.5;
// }

@keyframes strikeThrough {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes unstrike {
    0% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}

.task-name {
    display: inline-block;
    position: relative;
    color: #000;
    transition: color 0.3s;
}

.task-name.striked {
    color: rgba(0, 0, 0, 0.5); 
}

.task-name.striked::before, .task-name.unstriked::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    height: 1px;
    background: rgba(0, 0, 0, 0.5); 
}

.task-name.striked::before {
    animation: strikeThrough 0.3s forwards;
}

.task-name.unstriked::before {
    animation: unstrike 0.3s forwards;
}



.nav{
    border-bottom: 1px solid $gray-300;
    &-link{
        color: $secondary;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}


.clear{
    color: $gray-500;
    text-decoration: none;
}

.form-check.form-switch {
    display: flex;
}
/* 設定 input 的順序為 2，讓它出現在前面 */
.form-check.form-switch .form-check-input {
    order: 2;
}

input:focus {
    outline: none;
    border-color: transparent;
    box-shadow: none;
}


//  排序按鈕
.list-group-item {
    position: relative;
    transition: top 0.5s;
}
// 排序按鈕-過度動畫



