body {
    background: #AABFDA;
    color: #fff;
}

h1, span {
    color: #fff;
}

a {
    // color: #AABFDA;
}

::placeholder { /* 選擇所有的 placeholder */
    color: $mybtn !important;
}


.card {
    background-color: #cedef4;

    .nav-tabs > a {
        color: #7185A8;
        border-bottom: 0;

        &.active {
            background-color: #879fc9;
            color: #c7dbf6;
        }
    }
}


.addModal {
    color: #7185A8;
}

.modal-content{
    background-color: #AABFDA;
    .modal-header{
        .modal-title{
            color: #fff;
        }
    }
    .modal-footer{
        .modal-btn-close{
            background-color: #bfd8f8;
            border: 0;
            color: #7185A8;
        }
        .store{
            background-color: #7185A8;
            border: 0;
        }
    }
}

.pending-count {
    color: #7185A8;
}

.list-group-item {
    background-color: #879fc9;

    .task-name {
        color: #fff;
    }

    .trash {
        color: #cedef4;

        &:hover {
            color: red;
        }
    }
}

.task-name {
    display: inline-block;
    position: relative;
    color: #7185A8;
    transition: color 0.3s;

    &.striked {
        color: rgba(0, 0, 0, 0.5);
    }

    &.striked::before,
    &.unstriked::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 1px;
        background: rgba(0, 0, 0, 0.5);
    }

    &.striked::before {
        animation: strikeThrough 0.3s forwards;
    }

    &.unstriked::before {
        animation: unstrike 0.3s forwards;
    }
}

.Toast {
    background-color: #879fc9;

    .toast-body {
        background-color: #879fc9;
        color: #fff;
    }
}



@keyframes strikeThrough {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

@keyframes unstrike {
    0% {
        width: 100%;
    }

    100% {
        width: 0;
    }
}

.navbar-toggler {
    position: absolute;
    top: 2.5rem;
    right: 1rem;
    border: 0;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: #7185A8;
    .fa-bars {
        color: #AABFDA;
    }
}

.nav {
    border-bottom: 1px solid $gray-300;

    &-link {
        color: $secondary;
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

.offcanvas{
    background-color: $offcanvas;
    color: #fff;
}
.bar-nav-link{
    color: #fff;
    &.active{
        color: $mybtn !important;
    }
}

.bi-window-plus {
    font-size: 1.5rem;
}

.clear {
    color: $gray-500;
    text-decoration: none;
}

.form-check.form-switch {
    display: flex;

    .form-check-input {
        background-color: #7185A8;
        order: 2;
    }
}

input:focus {
    outline: none;

    box-shadow: none;
}

.newitem{
    border: 1.5px solid $mybtn;
    &::-webkit-input-placeholder { /* WebKit 瀏覽器 */
        color: $mybtn;
    }
}

.dropdown-btn,.addButton{
    border: 1.5px solid $mybtn;

    &:hover{
        background-color: $mybtn;

    }
}

.popover-btn{
    right: 55px;

}

.category-menu{
    background-color: $offcanvas;
    color: #fff;
    & > li > a{
        color: #fff;
        &.active{
            background-color: $mybtn;
        }
    }
}